<!DOCTYPE html>
<html>
    <head>
        <title> <%= title %> </title>
    </head>
    <body>
        <h3>chat yapmaya başlamak için giriş yap!</h3>
        <form action="login" method="post" autocomplete="off">
            <input type="text" name="kullaniciAdi" id="kullaniciAdi" placeholder="lütfen bir kullanıcı adı seçin.">
            <select name="odaNumarasi">
                <option>Lütfen katılmak üzere bir oda seçin</option>
                <option value="">oda 1</option>
                <option value="">oda 2</option>
                <option value="">oda 3</option>
            </select>
            <input type="submit" id="joinChatButton" value="Sohbete katıl!">
        </form>
    </body>
</html>